html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#footer {
    
    position: absolute;
    bottom: 0;
    width: 100%;
}


.list-container {
    display: inline-block;
    vertical-align: top;
    width: 45%; /* ajusta el ancho de cada contenedor según tus necesidades */
    margin-right: 5%; /* margen entre los contenedores */
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

